<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sargiskh.android_training_java_kotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".services.intent_service_with_result_receiver.IntentService_With_ResultReceiver"
            android:exported="false" />
        <service
            android:name=".services.intent_service_with_broadcast_receiver.IntentService_With_BroadcastReceiver"
            android:exported="false" />

        <activity android:name=".ok_http.kotlin.MainActivity_Kotlin_Synchronous_Calls_OkHttp_GET" />
        <activity android:name=".ok_http.java.MainActivity_Java_Synchronous_Calls_OkHttp_GET" />
        <activity android:name=".ok_http.java.MainActivity_Java_Asynchronous_Calls_OkHttp_GET" />
        <activity android:name=".ok_http.java.MainActivity_Java_Synchronous_Calls_OkHttp_Query_Parameters_And_Headers_GET" />
        <activity android:name=".ok_http.java.MainActivity_Java_Asynchronous_Calls_OkHttp_POST" />
        <activity android:name=".retrofit.java.RetrofitActivity_Java" />
        <activity android:name=".retrofit.kotlin.RetrofitActivity_Kotlin" />
        <activity android:name=".async_task_loader.java.version_1.MainActivity_Async_Task_Loader_Java_Version_1" />
        <activity android:name=".async_task_loader.java.version_2.MainActivity_Async_Task_Loader_Java_Version_2" />
        <activity android:name=".async_task_loader.java.version_3.MainActivity_Async_Task_Loader_Java_Version_3" />
        <activity android:name=".async_task_loader.kotlin.MainActivity_Async_Task_Loader_Kotlin" />
        <activity android:name=".async_task.MainActivity_Async_Task" />
        <activity android:name=".services.intent_service_with_result_receiver.MainActivity_IntentService" />
        <activity android:name=".services.intent_service_with_broadcast_receiver.MainActivity_IntentService" />
        <activity android:name=".rx.java.grokking_rxjava.part_1.MainActivity_Rx_Part_1" />
        <activity android:name=".rx.java.grokking_rxjava.part_2.MainActivity_Rx_Part_2" />
        <activity android:name=".rx.java.grokking_rxjava.part_3.MainActivity_Rx_Part_3" />
        <activity android:name=".rx.java.grokking_rxjava.part_4.MainActivity_Rx_Part_4" />

        <activity android:name=".android_app_with_mvp_rxJava2_and_retrofit.ui.MainActivity_Movify" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>